#review_master_block {
  background-color: #dedede;
}

.hidden {
  display: none;
}

#back {
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #f0f8fe;
  padding: 15px;
}

.showtext {
  font-size: 20px;
}

.header {
  font-size: 50px;
  font-weight: bold;
}
.subheads {
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
}

#page {
  background-color: #005F6B;
}

.devtool {
  font-size: 90px;
}

/*#user_show {
  text-align: center;
}*/
